body {
	background-color: #b3ecff;
	font-family: Cambria, 'Century Gothic', Sans-Serif;
}

a {
	text-decoration: none;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;

}


#header {

	background-color: #ADD8E6;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width = 10px;
	
}

#main {
	width= 300px;
	text-align: center;
	padding: 20px;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #ffd1dc;
	text-align: center
}

#nav ul {
	list-style-type: none
	padding: 0;
}


#nav .selected {
	font-weight: bold;
}